====== Introduction ======

See [[http://silverstripe.org/system-requirements/|silverstripe.org/system-requirements]] for current requirements.

This page serves for additions to those requirements, e.g. tips on specific operating systems or webservers. Please check our [[suggested-web-hosts]] and add your host if the installation was successful.

===== Gentoo Linux USE flags =====

Gentoo Linux distribution USE-Flags ([[http://silverstripe.org/installing-silverstripe/show/281700|related forum topic]]): <code>berkdb bzip2 cgi cli crypt ctype curl exif flatfile ftp gd gdbm hash iconv imap ipv6 mysql mysqli ncurses nls pcre readline reflection session simplexml snmp spell spl ssl threads tokenizer truetype unicode xml xmlreader xmlwriter xpm zip zlib</code>

===== Related ======

  * [[suggested-web-hosts]]
  * [[ContentDeliveryNetworkIssues]]